extends layout
block content
     h1 #{title}
     br


     form.well(action="/addUser", method="post")
       label Search Options
       br
       label Username:
       input(name="name", type="textbox")
       br
       label Postcode: 
       input(name="postcode", type="textbox") 
       br
       label Availability:
       select(name="category")
          option(value="mon", selected=mon) Mon
          option(value="tues", selected=tues) Tues
          option(value="weds", selected=weds) Weds
          option(value="thurs", selected=thurs) Thurs
          option(value="fri", selected=fri) Fri
          option(value="sat", selected=sat) Sat
          option(value="sun", selected=sun) Sun
       br
       button.btn(type="submit") Search

     hr

     form(action="/completetask", method="post")
      table.table.table-striped.table-bordered
         tr
           td Name
           td Post Code
           td Available
           td Dunno
         if (typeof tasks === "undefined")
           tr
             td
         else
           each task in tasks
             tr
               td #{task.name}
               td #{task.category}
               - var date  = new Date(task.date);
               - var day   = date.getDate();
               - var month = date.getMonth() + 1;
               - var year  = date.getFullYear();
               td #{month + "/" + day + "/" + year}
               td
                if(task.completed) 
                 input(type="checkbox", name="#{task.id}", value="#{!task.completed}", checked=task.completed)
                else
                 input(type="checkbox", name="#{task.id}", value="#{!task.completed}", checked=task.completed)
       button.btn.btn-primary(type="submit") Search
