<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/stylesheets/waggStyle.css">
<head>
    <meta 
        charset="UTF-8"/>
    <title>
        Wagg.ly
    </title>
    <meta 
        name="description" 
        content="Profile for Wagg.ly"/>
    </head>

<body>
    <h1>Wagg.ly Profile</h1>
    <div class="navbar">
        <a href="/">Signup</a>
        <a href="/getOwners">Find Dogs</a>
        <a href="/getWalkers">Find Walkers</a>               
    </div>

    <div>
        <h2>Weclome Dog Walker</h2>
        <h3>Search for dogs to walk</h3>

        <form action="/getOwners" method="get" id="ownersTable">
            <table>
                <tr>
                    <th>Dog Name</th>
                    <th>Dog Breed</th>
                    <th>Owner Name</th>
                    <th>Postcode</th>
                    <th>Needs Walker</th>
                    <th>Email</th>
                </tr>
                <% tasks.forEach(task => { %>
                    <tr>
                        <td><%= task.dogName %></td>
                        <td><%= task.dogBreed %></td>
                        <td><%= task.userName %></td>
                        <td><%= task.postcode %></td>
                        <td><%= task.needWalker %></td>
                        <td><%= task.email %></td>
                    </tr>
                <% }); %>
            </table>
        </form>
        
    </div>
</body>

</html>
